    .app{
        display: grid;
        grid-template-columns: 3fr 9fr;
    }
.over{
    height: 82.6vh !important;
}
.sidebar-1 {
  padding: 10px;
    background-color: #3A5B76;
  color: whitesmoke;
}

.sidebar-1 ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-1 li {
  cursor: pointer;
  margin: 10px 0;
}
.sidebar-1 li ul li {
    cursor: pointer;
    margin: 10px 0;
    margin-left: 10px;
  }

.sidebar-1 li ul li:hover {
  border-bottom: 2px solid white;
  width: max-content;
}
.preview{
    display: flex;
}
.preview div{
    margin: 20px;
    width: 250px;
    height: 400px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:10px;
}
.preview div:hover{
    transform: scale(1.1);
}


/* previw style */
.modal-overlay {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
  }
  .show-preview{
    height: 90vh;
    overflow: auto;
  }
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    position: relative;
    width: 80%;
    max-width: 1000px;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .preview {
    cursor: pointer;
    margin: 20px 0;
  }

  .preview-1 {
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .p-inputswitch {
    width: 3rem;
    height: 1.65rem;
}
.p-inputswitch {
  position: relative;
  top: 8px;
  display: inline-block;
  left: 4px;
}
@media screen and (max-width:780px) {
  .app{
    display: block;
  }
  .sidebar-1 {
    display: none;
  }
}